################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/x64/Debug
/x64/Release
/enc_temp_folder/bcb9b177891c9c4849dafe209fcb6019
/*.csv
